@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Sacramento&display=swap');

header h1{
    font-family: "Sacramento", cursive;
    font-size: 48px;
    font-weight: bold;
}

header h1:hover{
    animation-name: scaler;
    animation-duration:2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}


@keyframes scaler {
    0%{
        color: #45553D;
    }
    25%{
        color: #6d7e5f;
    }
    50%{
        color: #92a079;
    }
    75%{
        color: #c4c8ac;
    }
    100%{
        color: #0D120E;
    }
}

.header-actions{
    overflow: hidden;
}

.header-actions img{
    filter: drop-shadow(0px 100px 0 #0D120E);
    transform: translateY(-100px);
    width: 30px;
}

nav{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

header{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.menu-items{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}

.menu-items ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

.menu-items a{
    text-decoration: none;
    color: black;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size:17px;


}

.menu-items a:hover,header h1:hover{
    color: #45553D;
    text-shadow: 10px 10px 22px -1px #92a079;
    cursor: pointer;
   
}

.header-actions{
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.search-bar {
    position: absolute;
    z-index: 1;
    margin-left: 890px;
    padding: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    align-items: center;
}
  
  /* Initially the search bar is hidden */
.search-bar.hidden {
    opacity: 0;
    visibility: hidden;
}
  
  /* When the search input is visible */
.search-bar.show {
    opacity: 1;
    visibility: visible;
}

input[type="text"]{
   border-radius:100px;
   padding: 10px;
}


.banner-container{
    display: flex;   
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-image: url(Images/banner.jpg); */
}
.banner img{
    width: 100%;
    height: 750px;
    object-fit: cover;
    position: relative;
    top: 0;
    z-index: -1;
    object-position: 0% 60%;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.overlay{
    max-width: 400px;
    width: 400px;
    height: auto;
    margin-bottom: 10px;
}

.overlay h2{
    font-family: "Sacramento", cursive;
    font-size: 68px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.overlay h4{
    font-family: "Dosis", sans-serif;
    color: rgb(90, 90, 90);
    font-size: 22px;
}

.overlay button{
    background-color: #000000;
    padding: 8px 12px;
    border: none;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.overlay button:hover{
    background-color: #45553D;
}

.overlay-0{
    position: absolute;
    left: 310px;
    top: 200px;    
}
.overlay-1{
    position: absolute;
    right: 350px;
    top: 150px;    
}

.overlay-2{
    position: absolute;
    right: 350px;
    top: 250px;    
}

.services{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-family: "Dosis", sans-serif;
}

.services ul{
    display: flex;
    width: 60%;
    justify-content:space-around;
    padding: 10px;
    
}

.services li{
    display: flex;
    align-items: center;
    border: 1px solid #e8e9e0;
    padding: 20px 60px 20px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 22px -1px rgba(232,233,224,0.85);
    width: 290px;  
}

.services li:hover{
    scale: 1.1;
    box-shadow: 10px 10px 22px -1px #92a079;
    /* animation: spin 5s 0.5s ease; */
}


/* @keyframes spin {
    0%{
        
    }
    50%{
        scale: 1.1;
    }
    100%{
        transform: rotate(360deg);
    }
} */


.services img{
    width: 60px;
}

.services img:hover{
    animation: spin 1s ease-in-out;
}

@keyframes spin {
    0%{

    }
    100%{
        transform: rotate(360deg);
    }
}

.services h3{
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    font-weight: 800;
}

.services h5{
    font-size:12px ;
    color: #808080;
}



/* PRODUCTS.JSX CSS */
.product-container{
    font-family: "Sacramento", cursive;
    margin-top: 50px;
    font-size: 18px;
}

.h1{
    display: flex;
    justify-content: center;
}

.product-container h1{
    position: relative;
    height: 45px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container h1::before{
    content: '';
    position: absolute;
    bottom: 0;
    background-color: #45553D;
    width: 80px;
    height: 3px;
    border-radius: 5px;
}
.product-items-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px; 
}


.small-products img{        
    width:  300px;
    height: 300px;  
    object-fit: contain;
    mix-blend-mode: multiply;
    aspect-ratio:  auto 1/1;
    object-position: 50% 70%;
}


#product-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    position: relative;
    justify-content: center;
    margin-top: 20px;
}

.small-products{
    font-size: 12px;
    display: flex;
    justify-self: center;
    text-align: center;
    border-radius: 10px;
    font-family: "Dosis", sans-serif;
}

ul .small-products{
    box-shadow: 0px 0px 4px 1px rgba(232,233,224,0.85);
}

.small-products h3{
    color: #6d7e5f;
    padding-top: 5px 0px 5px;
    font-size: 18px;
}

.small-products-1 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
}

.small-products-2 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
}

.small-products-3{
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}

.small-products-4{
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 3;
}
.product-items{
    width: 70%;
}

.product-long{
    width: 30%;
    position: relative;
    justify-content: center;
    margin-left: 435px;

}

.product-long img{
    margin-top: 20px;
    width: 400px;
    aspect-ratio: 9/16;
    object-fit: cover;
    object-position: -600px 5%;
    z-index: -1;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgba(232,233,224,0.85);
}

.small-products img:hover{ 
    scale: 1.2;
}
.product-overlay h3{
    position: absolute;
    top: 0;
    margin-top:50px ;
    margin-left: 70px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #6d7e5f;
}

.product-overlay h2{
    position: absolute;
    top: 0;
    margin-top:75px ;
    margin-left: 105px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
    font-size: 24px;
    font-weight: 700;

}



.product-overlay .discount{
    background-color: #6d7e5f;
    position: absolute;
    top: 0;
    margin-top:40px ;
    margin-left: 20px;
    border-radius:50% ;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
    font-size: 24px;
}

.discount:hover{
    background-color: #c4c8ac;
}

.product-overlay a{
    font-family: "Dosis", sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-decoration: none;
    color: #45553D;
}



.product-overlay a:hover::before{
    content: '';
    position: absolute;
    bottom: 0;
    background-color: #45553D;
    width: 80px;
    height: 2px;
    border-radius: 5px;
    animation: underline 1s ease 0.3s infinite;
}

@keyframes underline {
    0% {
        transform: scaleX(1.05);
       }
    50% {   
        transform: scaleX(1.05);
        height: 3px;
        opacity: 1;
       }
    
    100% {
        transform: scaleX(0);
        height: 3px;
        opacity: .02;
       }
  }


/* BUNDLE  */

.bundle-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.bundle-info-container{
    width: 60%;
    display: flex;
    justify-content: center;
}

.bundle-info-container img{
    background-color: saddlebrown;
    object-fit: cover;
    aspect-ratio:  21/9;
    height: 70%;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgba(232,233,224,0.85);
    translate: 50%,50%;
    position: relative;
}

.bundle-overlay{
    position: absolute;
    font-family: "Dosis", sans-serif;
    margin-top: 30px;
    translate: -20%;

}

.bundle-overlay .offer{
    font-size: 18px;
    color: #6d7e5f;
    text-transform: capitalize;
    font-weight: 900;
}

.bundle-overlay .title{
    font-size: 48px;
    font-weight: 900;
    font-family: "Sacramento", cursive;
    margin-top: 5px;
}

.bundle-overlay .gift{
    font-size: 48px;
    font-weight: 900;
}

.bundle-overlay .info{
    width: 50%;
    color:#808080;
    padding: 10px 0px;
}

.bundle-overlay button{
    background: transparent;
    border: 2px solid #6d7e5f;
    padding: 10px 20px;
    color: #6d7e5f;
    font-weight: 700;
}

.bundle-overlay button:hover{
    scale: 1.1;
    box-shadow: 0px 0px 4px 1px rgba(232,233,224,0.85);
}

/* FOOTER */

.footer{
    margin-top: 20px;
    border-top: 1px solid rgba(232,233,224,0.85);

}

footer {
    background-color: #f1f1f1;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-family: "Dosis", sans-serif;
  }
  
  .footer-section {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer-section h4 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
  }
  
  .footer-section ul li:hover {
    color: #000;
  }
  
  .logo-social {
    text-align: center;
  }
  
  .logo-social h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .social-media {
    margin-bottom: 15px;
  }
  
  .social-media i {
    font-size: 20px;
    margin: 0 10px;
    color: #666;
    cursor: pointer;
  }
  
  .social-media i:hover {
    color: #000;
  }
  
  .apps img {
    width: 120px;
    margin: 10px;
  }
  
  footer p {
    margin: 5px 0;
    color: #666;
  }
  
  @media (max-width: 768px) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-section {
      margin-bottom: 30px;
    }
  }

  .footer-section h2{
    font-family: "Sacramento", cursive;
    font-size: 48px;
  }
  
/* For Tablets and iPads */
@media (max-width: 1024px) {
    .banner img {
      height: 500px;
    }
    .product-items-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .product-long img {
      width: 300px;
      object-position: center;
    }
    .overlay h2 {
      font-size: 48px;
    }
  }
  
  /* For Smartphones */
  @media (max-width: 768px) {
    header {
      width: 90%;
    }
    .menu-items {
      width: 100%;
    }
    .services ul {
      flex-direction: column;
    }
    .services li {
      width: 100%;
      margin-bottom: 20px;
    }
    .product-items-container {
      grid-template-columns: 1fr;
    }
    .product-long img {
      width: 100%;
    }
    .overlay h2 {
      font-size: 38px;
    }
  }
  
  /* For small smartphones (under 480px) */
  @media (max-width: 480px) {
    header h1 {
      font-size: 36px;
    }
    .overlay h2 {
      font-size: 32px;
    }
    .footer-section h4 {
      font-size: 14px;
    }
    .social-media i {
      font-size: 16px;
    }
  }

  @media (max-width: 768px) {
    .menu-items ul {
      display: none;
    }
    .menu-toggle {
      display: block;
    }
  }


  /* SHOP */
.shop-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.shop-header{
    width: 60%;
    margin: 20px 0px;
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: 900;
}

.shop-header h2{
    position: relative;
}

.shop-header h2::after{
    content: '';
    position: absolute;
    bottom: 0;
    background-color: #45553D;
    width: 4%;
    height: 3px;
    border-radius: 5px;
    left: 0;
}

.form-container{
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: #202020;
    border-radius: 10px;
    width: 40%;
    display: flex;
    box-shadow: 0px 0px 4px 1px rgba(232,233,224,0.85);
    
}

.form img{
    aspect-ratio:  2/1;
    width: 300px;
    object-fit: cover;
    object-position: 72%;
    border-radius: 10px 0px 0px 10px;
    
}

.form form{
    width: 100%;
    padding: 40px;
}

.form form h2{
    margin-bottom: 2vw;
    font-family: "Dosis", sans-serif;
    position: relative;
    color: #c4c8ac;
    font-size: 30px;
}

.form form h2::after{
    content: '';
    position: absolute;
    bottom: 0;
    background-color: #92a079;
    width: 20%;
    left: 0;
    height: 2px;
    border-radius: 5px;
}



.form form input{
    margin-bottom: 2vw;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    background-color: #303030;
}


.form form button{
    margin-bottom: 3vw;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    background-color: #92a079;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

form .login{
    color: #92a079;
    margin-top: -40px;
    text-align: center;
    font-size: 14px;
}

.form .result{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.form span{
    color: #c4c8ac;
    padding: 10px;
    margin-bottom: 10px;
}

/* Admin Dash */
.admin-dash-container{
    margin-top: 100px; 
    font-family: "Dosis", sans-serif;
    display: flex;
    background-color: #45553D;
}

.admin-dash-container aside{
    width: 10%;
    text-align: center;
    height: 100%;
    border-radius: 10px;
}

aside h2{
    color: white;
    padding: 10px 5px;
}

.admin-dash-container aside li{
    padding: 10px;
    font-size: 1vw;
}

.admin-dash-container aside li:hover{
    background-color: #6d7e5f;
}

.admin-dash-container aside button{
    text-decoration: none;
    border: none;
    background-color: inherit;
    color: white;
    font-size: 1vw;
    cursor: pointer;
}

.admin-main {
    flex-grow: 1; /* Take up remaining space */
    padding: 20px;
    background-color: #f8f9fa; /* Light background */
  }
  
/* ADD PRODUCT */

.add-product{
    padding: 0px 10px;
}

.add-product form input{
    width: 100%;
}

.add-product h2{
    margin-bottom: 10px;
    font-size: 2rem;
}

.add-product form input[type="text"],
.add-product form input[type="number"]{
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 20px;
}

.add-product form textarea{
    width: 100%;
}

.add-product button{
    background-color: #45553D;
    padding: 10px 20px;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;

}