@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Sacramento&display=swap');

header h1{
    font-family: "Sacramento", cursive;
    font-size: 48px;
    font-weight: bold;
}

header h1:hover{
    animation-name: scaler;
    animation-duration:2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}


@keyframes scaler {
    0%{
        color: #45553D;
    }
    25%{
        color: #6d7e5f;
    }
    50%{
        color: #92a079;
    }
    75%{
        color: #c4c8ac;
    }
    100%{
        color: #0D120E;
    }
}

.header-actions{
    overflow: hidden;
}

.header-actions img{
    filter: drop-shadow(0px 100px 0 #0D120E);
    transform: translateY(-100px);
    width: 30px;
}

nav{
    display: flex;
    justify-content: center;
    position: relative;
}

header{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
}

.menu-items{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.menu-items ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.menu-items a{
    text-decoration: none;
    color: black;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size:17px;
}

.menu-items a:hover,header h1:hover{
    color: #45553D;
    text-shadow: 10px 10px 22px -1px #92a079;
    cursor: pointer;
   
}


.header-actions{
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.search-bar {
    position: absolute;
    z-index: 1;
    margin-left: 890px;
    padding: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    align-items: center;
}
  
  /* Initially the search bar is hidden */
.search-bar.hidden {
    opacity: 0;
    visibility: hidden;
}
  
  /* When the search input is visible */
.search-bar.show {
    opacity: 1;
    visibility: visible;
}

input[type="text"]{
   border-radius:100px;
   padding: 10px;
}


.banner-container{
    display: flex;   
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-image: url(Images/banner.jpg); */
}
.banner img{
    width: 100%;
    height: 750px;
    object-fit: cover;
    position: relative;
    top: 0;
    z-index: -1;
    object-position: 0% 60%;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.overlay{
    max-width: 400px;
    width: 400px;
    height: auto;
    margin-bottom: 10px;
}

.overlay h2{
    font-family: "Sacramento", cursive;
    font-size: 68px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.overlay h4{
    font-family: "Dosis", sans-serif;
    color: rgb(90, 90, 90);
    font-size: 22px;
}

.overlay button{
    background-color: #000000;
    padding: 8px 12px;
    border: none;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.overlay button:hover{
    background-color: #45553D;
}

.overlay-0{
    position: absolute;
    left: 310px;
    top: 200px;    
}
.overlay-1{
    position: absolute;
    right: 350px;
    top: 150px;    
}

.overlay-2{
    position: absolute;
    right: 350px;
    top: 250px;    
}

.services{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-family: "Dosis", sans-serif;
}

.services ul{
    display: flex;
    width: 60%;
    justify-content:space-around;
    padding: 10px;
    
}

.services li{
    display: flex;
    align-items: center;
    border: 1px solid #e8e9e0;
    padding: 20px 60px 20px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 22px -1px rgba(232,233,224,0.85);
    width: 290px;  
}

.services li:hover{
    scale: 1.1;
    box-shadow: 10px 10px 22px -1px #92a079;
    /* animation: spin 5s 0.5s ease; */
}


/* @keyframes spin {
    0%{
        
    }
    50%{
        scale: 1.1;
    }
    100%{
        transform: rotate(360deg);
    }
} */


.services img{
    width: 60px;
}

.services img:hover{
    animation: spin 1s ease-in-out;
}

@keyframes spin {
    0%{

    }
    100%{
        transform: rotate(360deg);
    }
}

.services h3{
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    font-weight: 800;
}

.services h5{
    font-size:12px ;
    color: #808080;
}



/* PRODUCTS.JSX CSS */
.product-container{
    font-family: "Sacramento", cursive;
    margin-top: 50px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.h1{
    display: flex;
    justify-content: center;
}

.product-container h1{
    position: relative;
    height: 45px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container h1::before{
    content: '';
    position: absolute;
    bottom: 0;
    background-color: #45553D;
    width: 80px;
    height: 3px;
    border-radius: 5px;
}
.product-items-container{
    display: flex;
    justify-content: center;
}
.product-items{
    width: 70%;
}

.product-long{
    background-color: pink;
    width: 30%;
}

.product-long img{
    margin-top: 20px;
    width: 300px;
    aspect-ratio: 9/16;
    object-fit: cover;
    object-position: -420px 5%;
}


